.section-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F5F7FA;
    padding: 96px 144px;
    column-gap: 104px;
}

.section-intro__heading {
    max-width: 660px;
    font-size: 64px;
    color: #4D4D4D;
}

.section-intro__heading--green {
    font-size: 64px;
    color: #4CAF4F;
}

.section-intro__text {
    font-size: 16px;
    color: #717171;
    margin: 32px 0;
}

.section-intro__button {
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 32px;
    margin-top: 10px;
    background: #4CAF4F;
    text-decoration: none;
    border-radius: 4px;
}





